@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.icons {
    padding: 3px;
    border-radius: 25%;
}

.icons:hover {
    transition: 0.5s;
	box-shadow: 10px 10px 5px 0px #8AA6A3;
}
